<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>seleccionar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">seleccionar</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <img class="user-cheems" src="../../assets/img/user-cheems.png" alt="">
  <h2 >Seleccionar</h2>
  <p>¿Te apetece probar algo delicioso? Descubre nuestros platos en la aplicación y elige tu favorito para disfrutar en casa. ¡Buen provecho!</p>

  <img class="secciones" src="https://via.placeholder.com/600x250" alt="">
  <img class="secciones" src="https://via.placeholder.com/600x250" alt="">
  <img class="secciones" src="https://via.placeholder.com/600x250" alt="">
  <img class="secciones" src="https://via.placeholder.com/600x250" alt="">
  <img class="secciones" src="https://via.placeholder.com/600x250" alt="">

</ion-content>



