  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Bienvenido
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="cuerpo">
    <ion-grid>
      <!-- row -->
      <ion-row class="imagen-principal">
        <ion-col class="ion-padding-top">
          <img src="https://via.placeholder.com/500" alt="">
        </ion-col>
      </ion-row>
      <!-- fin row -->

      <ion-row>
        <ion-col>
          <h1 class="ion-text-center">Bienvenid@</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>



