<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <ion-grid>
    <!-- row -->
    <ion-row class="imagen-principal">
      <ion-col class="ion-padding-top">
        <img class="ion-padding" src="https://via.placeholder.com/400" alt="">
      </ion-col>
    </ion-row>
    <!-- fin row -->

    <ion-row>
      <ion-col class="ion-text-center">
        <h1>Bienvenid@</h1>
        <p>¡Bienvenido a nuestra app de comidas! Aquí podrás descubrir deliciosas opciones de diferentes países para
          satisfacer tus antojos culinarios. ¡Buen provecho!</p>

        <ion-button shape="round">Iniciar</ion-button>
        <p>Desarrollo de Apps Móviles - 2023</p>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
